# Blockchain Configuration
TURA_RPC_URL=https://rpc-beta1.turablockchain.com
TURA_CHAIN_ID=1337
PRIVATE_KEYS=your_private_key_here
FACTORY_ADDRESS=0xdf5F4d3239391716A4F5928d57E2AaDd3f644C70

# Server Configuration
PORT=3000

# Database Configuration
DB_STORAGE=database/uniswap-simple.sqlite

# Logging Configuration
LOG_LEVEL=info
